@import 'src/styles.module.scss';

$img_size: 8rem;

.container{
  min-height: calc(100vh - $nav_bar_height);;
  background: $dark_trans_matte_grey;
  backdrop-filter: blur(8px);
  color: $text_blue;
  width: 100%;
  padding: 2.4rem 0;
  @include flex();
}

.sectionHeading{
  color: $argentinian_blue;
}

.skillsGrid {
  @include flex();
  flex-direction: row;
  flex-wrap: wrap;
  padding: 2rem 1.2rem;
  justify-content: center;
  flex-grow: 1;
}

.skillContainer{
  @include flex();
  padding: .8rem;
  width: 23rem;
}

.skillImg{
  max-height: $img_size;
  max-width: $img_size;
}

.skillTitle{
  @include item-title;
  color: $platinum_blue;
}

.skillDescription{
  padding-top: .4rem;
  @include item-description;
  color: $text_grey;
}