@import 'src/styles.module.scss';

.container{
  min-height: calc(100vh - $nav_bar_height);
  background: $dark_trans_matte_grey;
  backdrop-filter: blur(4px);
  @include flex();
  @media screen and (max-height: $mobile_landscape_screen_height) {
    min-height: calc(100vh - $mini_nav_bar_height);
    padding: 0 2rem;
    width: calc(100% - 4rem) !important;
  }
}

.sectionHeading{
  padding-top: 2.4rem;
  color: white;
}

.skillsGrid {
  @include flex();
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1rem 1.2rem;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}