@import 'src/styles.module';

$img_max_height: 7.2rem;
$img_max_width: 10rem;
$tablet_img_max_height: 6rem;
$tablet_img_max_width: 9rem;

.container{
  z-index: 2;
  min-height: $min_history_banner_height;
  width: 100%;
  backdrop-filter: blur(5px);
  box-shadow: 0 -0.05rem .8rem 0.2rem rgba(0, 0, 0, 0.2);
  @include flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.image{
  max-height: $img_max_height;
  max-width: $img_max_width;
  padding: .8rem .4rem;
}

@media screen and (max-width: $tablet_screen_width) {
  .image {
    max-height: $tablet_img_max_height;
    max-width: $tablet_img_max_width;
  }
}

@media screen and (max-height: $mobile_landscape_screen_height) {
  .container {
    padding: 0 2rem;
    width: calc(100% - 4rem) !important;
  }
}