@import "src/styles.module.scss";

$max_card_size: 16rem;
$tablet_card_size: 12rem;
$mobile_card_width: 9rem;

.container {
  @include flex;
  background: rgba(255, 255, 255,100) no-repeat center;
  background-size: 100%;
  width: $max_card_size;
  height: $max_card_size;
  transition: all .2s ease;
  -webkit-transition: all .2s ease;
  box-shadow: 0.1rem 0.1rem 0.3rem 0.2rem rgba(0, 0, 0, 0.3);
  border-radius: .4rem;
  margin: 1.2rem;

  @media screen and (max-width: $tablet_screen_width) {
    width: $tablet_card_size;
    height: $tablet_card_size;
  }
  
  @media screen and (max-width: $mobile_screen_width) {
    width: $mobile_card_width;
  }
}

.openCard, .container:hover {
  box-shadow: .2rem .2rem .3rem .2rem rgba(0,0,0,.5);
  transform: translate3d(0, -0.4rem, 0);
  cursor: pointer;
}

.cardInfo {
  flex-grow: 1;
  width: 100%;
  @include flex;
  background: $light_trans_matte_grey;
  border-radius: .4rem;
  color: white;
}

.title {
  flex-grow: 0;
  @include item-title;
  margin: .4rem 0 0.4rem 0;
  border-radius: 0.2rem;
  padding: 0.2rem 0.4rem;
  text-align: center;
}

.description {
  flex-grow: 1;
  @include item-description;
  border-radius: 0.2rem;
  padding: 0.2rem 0.4rem;
  width: 100%;
  text-align: center;
}