@import 'src/styles.module.scss';

$img_size: 24rem;

.container{
  height: calc(100vh - $nav_bar_height);
  width: 100%;
  @include flex;
  justify-content: flex-start;
}

.about{
  @include flex();
  flex-direction: row;
  flex-grow: 1;
  width: 100%;
  z-index: 2;
  background-color: $light_trans_matte_grey;
  backdrop-filter: blur(7px);
}

.image {
  height: $img_size;
  max-height: 80%;
}

.text {
  flex-grow: .5;
}