@import 'src/styles.module.scss';

.sectionContainer {
  @include flex;
  margin-top: 4rem;
}

.smallFont {
  & * {
    font-size: .9rem;
  }
}

.content {
  padding: 0 1rem;
  margin: 2rem 0 0 0;
  text-align: left;
  overflow: hidden;
  white-space: pre-wrap;
}

.subSectionTitle {
  @include item-title;
  color: $hunyadi_yellow;
  font-size: 1.6rem;
  margin-top: 2rem;
  margin-bottom: 1.6rem;
  font-weight: 500;
}

.publication {
  @include transition;
  display: grid;
  grid-template-columns: 25% 1fr;
  gap: 1.5rem;
  align-items: start;
  background: rgba(0, 0, 0, 0.4);
  border: 0.08rem solid rgba(255, 255, 255, 0.138);
  border-radius: .6rem;
  padding: 1.2rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.45);

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.55);
  }

  &:not(:first-child) {
    margin-top: 2rem;
  }
}

.publicationImageContainer {
  width: 100%;
  @include flex;
}

.publicationImage {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border: 0.15rem solid rgba(251, 177, 60, 0.4);
  border-radius: .4rem;
  transition: transform .15s ease-in-out;

  &:hover {
    transform: scale(1.04);
  }
}

.publicationDetails {
  width: 100%;
}

.publicationTitle {
  font-weight: 500;
  font-size: 1.4rem;
}

.publicationAuthors {
  margin-top: 1rem;
  font-size: 1.1rem;
}

.publicationVenue {
  margin-top: 1rem;
  white-space: break-spaces;
  font-style: oblique;
}

.publicationAward {
  margin-top: .5rem;
  white-space: break-spaces;
  font-weight: bold;
  font-size: .9rem;
}

.publicationLinksContainer {
  @include flex;
  margin-top: 1rem;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: .5rem;
}

.publicationLink {
  display: inline-block;
  padding: .25rem .6rem;
  border: 1px solid $hunyadi_yellow;
  border-radius: .3rem;
  color: $hunyadi_yellow;
  text-decoration: none;
  transition: background .15s ease-in-out, color .15s ease-in-out, text-decoration .15s ease-in-out;

  &:hover {
    background: $hunyadi_yellow;
    color: $matte_grey;
    text-decoration: underline;
  }
}

@media screen and (max-width: $tablet_screen_width) {
  .publication {
    grid-template-columns: 1fr;
  }

  .publicationImageContainer {
    width: 100%;
    margin-bottom: 1rem;
  }

  .publicationImage {
    width: 100%;
    max-height: 12rem;
  }

  .publicationDetails {
    @include full-width;
  }
}

@media screen and (max-width: $mobile_screen_width) {
  .content {
    width: calc(100vw - 4rem);
  }
}