@import 'src/styles.module.scss';

.sectionContainer {
  @include flex;
  width: 100%;
  padding: 2.4rem 0;
  backdrop-filter: blur(10px);
}

.smallFont {
  & * {
    font-size: .9rem;
  }
}

.content {
  margin: 2rem 2rem 0 2rem;
  text-align: left;
  overflow: hidden;
  white-space: pre-wrap;
}

.subSectionTitle {
  @include item-title;
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: 500;
}

.publication {
  &:not(:first-child) {
    margin-top: 2rem;
  }

  & > * {
    margin: 0.5rem 0;
  }
}

.publicationTitle {
  font-style: italic;
  font-weight: 500;
}

.publicationVenue {
  white-space: break-spaces;
  font-style: oblique;
}

.publicationLinks {
  @include flex;
  flex-direction: row;
  justify-content: flex-start;

  & > * {
    margin-right: .3rem;
  }
}
