@import 'src/styles.module.scss';

.sectionContainer {
  @include flex;
}

.smallFont {
  & * {
    font-size: .9rem;
  }
}

.content {
  margin: 2rem 2rem 0 2rem;
  text-align: left;
  overflow: hidden;
  white-space: pre-wrap;
}

.subSectionTitle {
  @include item-title;
  color: $hunyadi_yellow;
  font-size: 1.6rem;
  margin-top: 2rem;
  margin-bottom: 1.6rem;
  font-weight: 500;
}

.publication {
  padding-left: 1rem;
  &:not(:first-child) {
    margin-top: 2rem;
  }

  & > * {
    margin: 0.5rem 0;
  }
}

.publicationTitle {
  font-weight: 500;
  font-size: 1.4rem;
}

.publicationAuthors {
  margin-top: 1rem;
  font-size: 1.1rem;
}

.publicationVenue {
  margin-top: 1rem;
  white-space: break-spaces;
  font-style: oblique;
}

.publicationLinksContainer {
  @include flex;
  margin-top: 1rem;
  flex-direction: row;
  justify-content: flex-start;

  color: $text_blue;

  & > * {
    margin-right: .3rem;
  }
}

.publicationLink {
  color: $text_blue;
}
