@import 'src/styles.module.scss';

.container {
  background: $light_trans_matte_grey;
  backdrop-filter: blur(3px);
  width: 100%;
  min-height: calc(100vh - $nav_bar_height);
  @include flex();
  box-shadow: 0 0.7rem 0.8rem 0.2rem rgba(0, 0, 0, 0.2);
  z-index: 2;
  position: relative;

  @media screen and (max-height: $mobile_landscape_screen_height) {
    min-height: calc(100vh - $mini_nav_bar_height);
  }
}

.sectionHeading {
  @include section-heading;
  justify-self: flex-start !important;
  color: white;
  padding-top: 1.2rem;
  text-align: center;
  justify-self: flex-start;
}

.projects {
  flex-grow: 1;
  @include flex();
  justify-content: center !important;
}

.subSection {
  @include flex;
}

.projectsSubGrid{
  @include flex();
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 2rem;
  width: calc(100% - 4rem) !important;
  margin: 1.5rem 0 2rem 0;

  &:first-child{
    margin-top: 2rem;
    justify-content: center;
  }

  &:not(:first-child){
    justify-content: center;
  }
}

