@import 'src/styles.module.scss';

.container {
  background: $dark_trans_matte_grey;
  backdrop-filter: blur(3px);
  width: 100%;
  min-height: calc(100vh - $nav_bar_height);
  @include flex();
  box-shadow: 0 0.7rem 0.8rem 0.2rem rgba(0, 0, 0, 0.2);
  z-index: 2;
  position: relative;

  @media screen and (max-height: $mobile_landscape_screen_height) {
    min-height: calc(100vh - $mini_nav_bar_height);
  }
}

.sectionHeading {
  @include section-heading;
  color: white;
  padding-top: 1.2rem;
}

.projectsGrid{
  @include flex();
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  flex-grow: 1;
  padding: 0 2rem;
  width: calc(100% - 4rem) !important;
}