@import '../base/basePage.module.scss';

.appBody{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    scroll-snap-type: y proximity;
}

.childSection {
    scroll-snap-align: start none;
    @include full-width;
    flex-shrink: 0;
}