@import "src/styles.module";

$menu_icon_size: 1.6rem;

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $nav_bar_height;
    flex-shrink: 0;
    top: 0;
    left: 0;
    width: 100%;
    background: $honolulu_blue;
    color: black;
}

.name {
    white-space: nowrap;
    user-select: none;
    margin-left: 2.4rem;
    font-size: 2.4rem;
    cursor: pointer;
    transition: all .2s ease;
    color: white;
    -webkit-transition: all .2s ease;
    &:hover {
        color: $hunyadi_yellow !important;
    }
}

.actions {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 4rem;
    flex-grow: 1;
}

.navBarItem {
    color: azure;
    font-size: 1rem;
    &:hover {
        color: $hunyadi_yellow !important;
    }
}

.menu {
    margin-right: 1.6rem;
    cursor: pointer;
}

.menuIcon {
    height: $menu_icon_size;
    width: $menu_icon_size;
    stroke: white;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    &:hover{
        stroke: $hunyadi_yellow !important;
    }
}

:global(.ant-dropdown-menu-item) {
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    &:hover{
        color: $hunyadi_yellow !important;
    }
}

.menuItem {
    font-size: 1rem;
}

@media screen and (max-width: 900px) {
    .name {
        font-size: 2rem;
        margin-left: 1.2rem;
    }
    .actions {
        display: none;
    }
}

@media screen and (min-width: 900px) {
    .menu {
        display: none;
    }
}