@import 'src/styles.module.scss';

$img_size: 16rem;
$tablet_img_size: 12rem;
$mobile_img_size: 9.2rem;
$backgroundColor: white;

.landing{
  height: 100vh;
  @include flex();
  justify-content: center;
}

.container {
  background: $backgroundColor;
  @include flex();
  justify-content: center;
  align-items: center;
  padding: 1.2rem;
}

.image {
  height: $img_size;
  width: $img_size;
  border-radius: 100%;
  border: 0.4rem solid;
  margin-bottom: 3rem;
}

.name {
  font-size: 4.8rem;
  text-align: center;
}

.tagline{
  color: $honolulu_blue;
  font-size: 2rem;
  margin-top: 4rem;
  text-align: center;
}

@media screen and (max-width: $tablet_screen_width) {
  .image{
    height: $tablet_img_size;
    width: $tablet_img_size;
    margin-bottom: 2rem;
  }

  .name {
    font-size: 4rem;
  }

  .tagline{
    font-size: 2rem;
    margin-top: 2rem;
  }
  .container{
    max-width: 70%;
  }
}

@media screen and (max-width: $mobile_screen_width) {
    .image{
      height: $mobile_img_size;
      width: $mobile_img_size;
      margin-bottom: 2rem;
    }

  .tagline{
    font-size: 1.6rem;
    margin-top: 1.6rem;
  }

  .name {
    font-size: 3.2rem;
  }

  .container{
    padding-left: .6rem;
    padding-right: .6rem;
    max-width: 60%;
  }
}